<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Monitoring UI</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<h1>Monitoring</h1>
<table id="eventTable" class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>OrderId</th>
        <th>Messages</th>
    </tr>
</table>

<script>
    function removeRows() {
        let table = document.getElementById("eventTable");
        let rowCount = table.rows.length;
        for (let i = rowCount - 1; i > 0; i--) {
            table.deleteRow(i);
        }
    }

    function groupByOrderId(events) {
        const grouped = {};
        events.forEach(item => {
            if (!grouped[item.orderId]) {
                grouped[item.orderId] = [];
            }
            grouped[item.orderId].push(item);
        });
        return grouped;
    }

    function button(item) {
        let itemId = `${item.orderId}-${item.method}`;
        return `<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#${itemId}" aria-expanded="false" aria-controls="${itemId}">
    Payload
  </button>
</p>
<div class="collapse" id=${itemId}>
  <div class="card card-body">
    <ul>
        <li>OrderId: ${item.orderId}</li>
        <li>Service: ${item.service}</li>
        <li>Type: ${item.type}</li>
        <li>Method: ${item.method}</li>
        <li>Status: ${item.status}</li>
    </ul>
  </div>
</div>`
    }

    // Generate HTML table from grouped data
    function createTable(groupedData) {
        const table = document.getElementById('eventTable');
        Object.keys(groupedData).forEach(orderId => {
            const row = table.insertRow();
            const cellOrder = row.insertCell();
            cellOrder.textContent = orderId;
            const cellMessages = row.insertCell();
            let prefix = '';
            cellMessages.innerHTML = groupedData[orderId].map(item => {
                    switch (item.type) {
                        case 'Event':
                            prefix = `"alert alert-info"`
                            break;
                        case 'Command':
                            prefix = `"alert alert-danger"`
                            break;
                    }
                    return `<div class=` + prefix + `>` + `<b>${item.type}</b> (from service: ${item.service}) ${item.method}` + button(item) + `</div>`;
                }
            ).join('');
        });

        return table;
    }

    let evtSource = new EventSource("/api/updates");
    evtSource.onmessage = function (event) {
        removeRows();
        const groupedData = groupByOrderId(JSON.parse(event.data));
        const table = createTable(groupedData);
    };


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
